.poster{
    background-color: #DCEAF5;
    height: 703px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.svglogo{
    width: 510px;
    height: 33px;
    display: flex;
    justify-content: space-between;
}
.posterlogo1{
    width: 143px;
    height: 33px;
}
.posterlogo2{
    width: 134px;
    height: 31px;
}
.posterlogo3{
    width: 140px;
    height: 32px;
}
.postertext h2{
    width: 576px;
    height: 144px;
    color: #1D3444;
    font-weight: 600;
    font-size: 64px;
}
.postertext p{
    width: 571px;
    height: 60px;
    font-weight: 500;
    font-size: 18px;
}
.posterimg{
    margin-bottom: -4%;
}
.posterimg img{
    width: 747px;
    height: 618px;
}
.buttonorange{
    width: 364px;
    height: 54px;
    display: flex;
    justify-content: space-between;
}
.buttonorange button{
    width: 199px;
    height: 54px;
    color: #fff;
    font-size: 16px;
    border-radius: 27px;
    background: #F58A07;
    border-color: #F58A07;
}
.buttonorange p{
    width: 125px;
    height: 17px;
    font-size: 16px;
    font-weight: 600;
}
.worked{
    width: 262px;
    height: 30px;
    font-weight: 400;
    font-size: 18px;
    color: #39414980;
}
.helpsection{
    width: 1280px;
    height: 740px;
    background-color: #fff;
}
.helpsectiontitle h2{
    font-weight: 600;
    font-size: 48px;
    width: 735px;
    height: 112px;
    color: #1D3444;
}
.helpsectiontitle p{
    width: 735px;
    height: 90px;
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;
}
.help{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    height: 447px;
}
.help h3{
    width: 230px;
    height: 30px;
    font-weight: 500;
    font-size: 24px;
    color: #0D1317;
}
.help p{
    width: 399px;
    height: 84px;
    color: #5B5B5B;
    font-weight: 500;
    font-size: 16px;
}
.help a{
    width: 90px;
    height: 17px;
    color: #F58A07;
    font-weight: 500;
    font-size: 16px;
}
.help a::after{
    content: "\2192";
    color: #F58A07;
    width: 22px;
    height: 10px;
}
.help img{
    width: 400px;
    height: 242px;
    border-radius: 20px;
}

.featuressection{
    height: 665px;
    background: #EDF7FF;
}
.featuretitle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 0px 0px;
}
.featuretitle h3{
    width: 619px;
    height: 132px;
    font-weight: 600;
    font-size: 36px;
    color: #0D1317;
}
.featuretitle p{
    width: 620px;
    height: 132px;
    font-weight: 500;
    font-size: 18px;
    color: #1D3444;
    padding: 10px 0px 0px 0px;
}
.feature{
    display: flex;
    justify-content: space-between;
    background-color: #EDF7FF;
    border-radius: 20px;
    width: 1282px;
    height: 277px;
    padding: 70px 0px 0px 0px;
}
.feature img{
    padding: 20px 0px 0px 25px;
}
.feature h4{
    font-weight: 600;
    width: 107px;
    height: 26px;
    font-size: 24px;
    color: #1D3444;
    padding-left: 25px;
}
.feature p{
    width: 336px;
    height: 84px;
    font-weight: 500;
    font-size: 16px;
    color: #1D3444;
    padding: 0 0 0 25px;
}
.feature1{
    width: 401px;
    height: 277px;
    background-color: #fff;
    border-radius: 20px;
}
.feature2{
    width: 401px;
    height: 277px;
    background-color: #fff;
    border-radius: 20px;
}
.feature3{
    width: 401px;
    height: 277px;
    background-color: #fff;
    border-radius: 20px;
}
.aboutsection{
    height: 667px;
    display: flex;
}
.abouttext{
    width: 596px;
    height: 549px;
}
.abouttext h3{
    width: 596px;
    height: 157px;
    font-weight: 600;
    font-size: 48px;
    color: #0D1317;
}
.abouttext p{
    width: 510px;
    height: 120px;
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;
    padding: 20px 0 0 0;
}
.aboutfeature{
    display: flex;
}
.aboutfeature h2{
    width: 98px;
    height: 50px;
    color: #F58A07;
    font-weight: 700;
    font-size: 36px;
}
.aboutfeature h4{
    width: 200px;
    height: 26px;
    font-weight: 600;
    font-size: 24px;
    color: #0D1317;
    
}
.aboutfeature p{
    width: 270px;
    height: 84px;
    font-weight: 500;
    font-size: 16px;
    color: #5B5B5B;
}
.aboutimg{
    width: 153px;
    height: 667px;
    background: #F58A07;
    border-radius: 20px 0px 0px 20px;
}
.aboutimg img{
    width: 637px;
    height: 667px;
    border-radius: 20px;
    mix-blend-mode: multiply;
}
.servicesection{
    width: 1274.39px;
    height: 682px;
    background-color: #EDF7FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.servicetext h2{
    width: 572px;
    height: 168px;
    font-weight: 600;
    font-size: 48px;
    color: #0D1317;
}
.servicetext p{
    width: 510px;
    height: 210px;
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;
    padding: 30px 0 0 0;
}
.servicetext a{
    color: #F58A07;
    width: 123px;
    height: 17px;
    font-weight: 500;
    font-size: 16px;
}
.servicetext a::after{
    content: "\2192";
    color: #F58A07;
    width: 22px;
    height: 10px;
}
.tab{
    display: flex;
    width: 580px;
    height: 40px;
    justify-content: space-between;
}
.serviceimage{
    width: 472px;
    height: 466px;
}
.serviceimg{
    width: 120px;
    height: 466px;
    background: #F58A07;
    border-radius: 20px 0px 0px 20px;
}
.serviceimg img{
    width: 472px;
    height: 466px;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: multiply;
}
.tab button{
    border-radius: 31px;
}
.tab1 button{
    width: 194px;
    height: 40px;
    color: #F58A07;
    background-color: #fff;
    border-color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
}
.tab2 button{
    color: rgba(6, 50, 85, 0.3);
    font-weight: 600;
    font-size: 16px;
    width: 155px;
    height: 40px;
    border-color: #A8BCCC;
}
.tab3 button{
    color: rgba(6, 50, 85, 0.3);
    font-weight: 600;
    font-size: 16px;
    width: 183px;
    height: 40px;
    border-color: #A8BCCC;
}
.ctasection{
    background: #F58A07;
    display: flex;
    height: 518px;
}
.ctaimage{
    background-image: url(images/experience-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 60%;
    max-height: 518px;
    width: 963px;
    height: 100%;
}
.ctaright{
    width: 960px;
    height: 518px;
    background: #F58A07;
}
.ctaright h2{
    width: 532px;
    height: 168px;
    font-weight: 600;
    font-size: 48px;
    color: #FFFFFF;
    padding: 40px 0px 0px 55px;
}
.ctasectionbutton{
    padding: 70px 0px 0px 60px;
}
.ctaright button{
    width: 216px;
    height: 54px;
    border-radius: 31px;
    color: #F58A07;
    font-weight: 600;
    font-size: 16px;
    border-color: #FFFFFF;
}
.videosection{
    display: flex;
}
.videoleft h3{
    width: 550px;
    height: 112px;
    font-weight: 600;
    font-size: 48px;
    color: #0D1317;
}
.videoleft p{
    width: 550px;
    height: 90px;
    font-weight: 500;
    font-size: 18px;
    color: #5B5B5B;
}
.chikelu{
    display: flex;
}
.chikelu img{
    width: 80px;
    height: 80px;
}
.chikelu h5{
    width: 145px;
    height: 41px;
    font-weight: 500;
    font-size: 24px;
    color: #063255;
}
.chikelu p{
    color: #F58A07;
    font-weight: 500;
    font-size: 18px;
    width: 129px;
    height: 31px;
}
.videoimg{
    padding: 0px 0px 0px 90px;
}
.videoimg img{
    width: 620px;
    height: 501px;
    border-radius: 20px;
}



