.navbar p{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 500px;
    height: 128px;
    color: #063255;
}
.navbar{
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: 1920px;
    height: 82px;
}
.navmenu{
    display: flex;
    align-items: center;
    justify-content: end;
    word-spacing: 15px;
    display: inline-block;
    font-weight: 600;
}
.navmenu a{
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: #394149;
    font-size: 16px;
}
.navmenu button{
    background-color: #F58A071A;
    color: #F58A07;
    width: 173px;
    height: 52px;
    border-radius: 31px;
    border-color: #F58A071A;
    font-size: 16px;
}
.Poster{
    display: flex;
    background-color: #DCEAF5;
    width: 1920px;
    height: 703px;
    justify-content: center;
    align-items: center;
}
.PosterText{
    text-align: justify;
}
.PosterText h2{
    width: 576px;
    height: 144px;
    line-height: 72px;
    color: #1D3444;
    font-size: 64px;
}
.PosterText p{
    width: 571px;
    height: 60px;
    line-height: 30px;
    color: #5B5B5B;
    font-size: 18px;
}
.bttn{
    display: flex;
}
.buttonorange{
    background-color: #F58A07;
    border-radius: 27px;
    width: 199px;
    height: 54px;
    color: #fff;
    border-color: #F58A07;
}
.worked{
    color:#39414980;
    font-size: 18px;
}
.PosterImage{
    width: 747px;
    height: 618px;
}
.HelpSection{
    margin:0% auto;
    width: 1280px;
    height: 740px;
    background-color: #fff;
}
.HelpSection h2{
    color: #1D3444;
    font-size: 48px;
    width: 735px;
    height: 112px;
}
.HelpSection p{
    font-size: 18px;
    color: #5B5B5B;
    width: 735px;
    height: 90px;
}
.Help123{
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.Help123 h3{
    font-size: 24px;
    color:#0D1317;
}

.Help123 a{
    font-size: 16px;
    color:#F58A07;
    width: 90px;
    height: 17px;
}
.Help123 img{
    border-radius: 20px;
}
.Help1{
    width: 399px;
    height: 242px;
}
.Help1 p{
    width: 399px;
    height: 84px;
}
.Help2 p{
    width: 400px;
    height: 84px;
}
.Help3 p{
    width: 400px;
    height: 84px;
}
.Help2{
    width: 400px;
    height: 241px;
}
.Help2 p{
    color:#1D3444;
}
.Help3{
    width: 400px;
    height: 242px;
}
.FeaturesSection{
    margin: 0% auto;
    background-color: #EDF7FF;
    width: 1920px;
    height: 665px;
}
.Feature{
    display: flex;
}
.Feature h3{
    font-size: 36px;
    color: #0D1317;
    width: 619px;
    height: 132px;
}
.Feature p{
    font-size: 18px;
    color: #1D3444;
    width: 620px;
    height: 102px;
    line-height: 30px;
}
.Container{
    max-width: 1280px;
    margin: auto;
    width: 100%;
}
.Feature123{
    display: flex;
}
.Feature123 h4{
    margin-left: 8%;
    width: 107px;
    height: 26px;
    color: #0D1317;
    font-size: 24px;
}
.Feature123 p{
    margin: auto;
    color: #5B5B5B;
    font-size: 16px;
    width: 336px;
    height: 84px;
}
.Feature1{
    margin: auto;
    width: 401px;
    height: 277px;
    background-color: #FFFFFF;
    border-radius: 20px;
}
.Feature2{
    margin: auto;
    width: 401px;
    height: 277px;
    background-color: #FFFFFF;
    border-radius: 20px;
}
.Feature3{
    margin: auto;
    width: 401px;
    height: 277px;
    background-color: #FFFFFF;
    border-radius: 20px;
}
.AboutSection{
    width: 1280px;
    height: 667px;
    margin: 4% auto;
    display: flex;
}
.AboutFeature{
    display: flex;
}
.AboutText{
    width: 596px;
    height: 549px;
}
.AboutText h3{
    width: 596px;
    height: 157px;
    font-size: 48px;
    color: #0D1317;
}
.AboutText p{
    width: 510px;
    height: 120px;
    color: #5B5B5B;
    font-size: 18px;
}
.AboutFeature h2{
    color: #F58A07;
    font-size: 36px;
}
.AboutFeature h4{
    font-size: 24px;
    color: #0D1317;
}
.AboutFeature p{
    font-size: 16px;
    color: #5B5B5B;
    width: 264px;
    height: 84px;
}
.AboutSection img{
    width: 638px;
    height: 671px;
    border-radius: 20px;
}
.ServiceSection{
    display: flex;
    margin: 4% auto;
    width: 1295px;
    height: 698px;
    background-color: #EDF7FF;
    border-radius: 20px;
}
.ServiceText{
    margin: 4% auto;
}
.ServiceText h2{
    color: #0D1317;
    width: 572px;
    height: 168px;
    font-size: 48px;
}
.ServiceText p{
    width: 510px;
    height: 210px;
    font-size: 18px;
    color: #5B5B5B;
}
.ServiceText a{
    width: 123px;
    height: 17px;
    color: #F58A07;
    font-size: 16px;
}
.ServiceTab{
    width: 580px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.ServiceTab button{
    border-radius: 31px;
}
.Tab1 button{
    width: 194px;
    height: 40px;
    background-color: #FFFFFF;
    color: #F58A07;
    border-color: #fff;
}
.Tab2 button{
    width: 155px;
    height: 40px;
    color: rgba(6, 50, 85, 0.3);
    border: 1px solid #A8BCCC;
}
.Tab3 button{
    width: 183px;
    height: 40px;
    color: rgba(6, 50, 85, 0.3);;
    border: 1px solid #A8BCCC;
}
.ServiceIMG{
    width: 472px;
    height: 466px;
    margin: 10% auto;
}
.CTAbg{
    display: flex;
    width: 1812px;
    height: 518px;
    background-color:#C4C4C4 ;
}
.CTAbg img{
    width: 963px;
    height: 518px;
}
.CTAright h2{
    width: 532px;
    height: 168px;
    color: #FFFFFF;
    font-size: 48px;
}
.CTAright button{
    width: 216px;
    height: 54px;
    background: #FFFFFF;
    border-radius: 31px;
    margin: auto;
    font-size: 16px;
    color: #F58A07;
    border-color: #FFFFFF;
}
.CTAright{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 960px;
    height: 518px;
    background-color: #F58A07;
}
.VideoSection{
    display: flex;
    margin: 5% auto;
    width: 1280px;
    height: 501px;
}
.VideoLeft h3{
    width: 550px;
    height: 112px;
    font-size: 48px;
    color: #0D1317;
}
.VideoLeft p{
    width: 550px;
    height: 90px;
    font-size: 18px;
    color: #5B5B5B;
}
.ChikeluNeo{
    display: flex;
}
.ChikeluNeo img{
    width: 80px;
    height: 80px;
}
.ChikeluNeo h5{
    width: 145px;
    height: 41px;
    color: #063255;
    font-size: 24px;
}
.ChikeluNeo p{
    width: 129px;
    height: 31px;
    color: #F58A07;
    font-size: 18px;
}
.VideoIMG img{
    width: 620px;
    height: 501px;
    border-radius: 20px;
}
.LatestSection{
    width: 1920px;
    height: 819px;
    background-color: #DCEAF5;
    font-family: 'Poppins';
}
